

.container-box-contact{
    width: 100%;
    /* background: rgb(247, 241, 241); */
    background: #f3ecec;
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
    top: 50px;
    /* border: 2px solid red; */
}
.container-box-contact h2{
    margin-bottom: 3%;
    font-size: 120%;
    font-family: 'Open Sans';
}
.email-container{
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-areas: 
    "name email"
    "subject subject"
    "message message"
    " btn  ......  ";
    grid-gap: 10px;
    font-size: 100%;
}
.text{
    width: auto;
    height: 40px;
    border-radius: 3px;
    word-wrap: wrap;
}
.name{
    grid-area: name;
    z-index: 1;
    font-size: 80%;
    /* border: 1px solid red; */
}
.email{
    grid-area: email;
    font-size: 80%;

}
.subject{
    grid-area: subject;
    font-size: 80%;

}
.message{
    height: 300px;
    grid-area: message;
    font-size: 80%;

}
.btn{
    width: 50%;
    height: 100%;
    font-size: 60%;
    padding: 10px;
    grid-area: btn;
    color: white;
    /* margin-top: 10px; */
    /* border: 1px solid red; */
    background-color: rgb(75, 70, 70);
}

/* *********************************** */
/* ********** MEDIA QUERY ************ */
@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 1024px){
  
}
@media only screen and (max-width: 768px){
    
}

@media (max-width: 600px){
    .wrapper-main{
        height: 700px;
    }
  
    .container-box-contact{
        width: 100%;
        height: 570px;
        padding: 20px;
        margin-top: 0px;
        margin: auto;
    }
    .email-container{
        width: 100%;
        height: 100%;
        font-size: 80%;
        /* border: 1px solid green; */
        grid-template-columns: 100% auto;
        grid-template-areas:
            "name" "name"
            "email" "email"
            "subject" "subject"
            "message" "message"
            "btn" "btn";
    }
    .text{
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .container-box-contact{
        width: 100%;
    }
}