.main-container{
    width: 100%;
    height: 100vh;  
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: rgb(63, 61, 61);
    background-image: url('./../Assets/lukas-blazek.jpg');
    background-size: cover;
}
.wrapper-main {
    width: 70%;
    height: 90%;
    /* margin-top: 30px; */
    margin: auto;    
    /* border: 1px solid green; */
}

.container-box-home{
    width:100%;
    height: 500px;
    position: relative;
    top: 50px;
    background: rgb(247, 241, 241);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "container-left container-right";
    /* border: 3px solid black; */
}
.home{
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.animated{
    animation-duration: 1.3s;
}
.icons.animated.slideInDown{
    animation-delay: 1s;
    color: grey;
}


p.animated.slideInDown{
    animation-duration: .5s;
}
.container-left {
    height: 100%; 
    display: grid; 
    grid-template-areas: "container-left";
    /* border: 3px solid red; */
}
.content h1{
    color: rgb(48, 45, 45);
}
.content {
    padding-left: 40px;
    margin: auto;
    /* border: 1px solid blue; */
}
h3{
    margin: 5px;
    color: #696666;
}
.description blockquote{
    font-size: 70%;
    font-style: italic;
    margin-top: 30px;
    padding: 0;
}
.container-right {
    height: 100%;
    width:100%;
    display: grid;
    grid-template-areas: "container-right";
    background-image: url('../Assets/ProfilePic.jpg');
    opacity: .6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/**************************************/
/* ********** MEDIA QUERY ************ */

@media (max-width: 600px){
   
    .description blockquote{
        display: none;
    }
    .main-container{

    }
    .wrapper-main{
        width: 100%;
        /* border: 1px solid black; */
    }
    .container-box-home {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .container-left{
        width: 100%;        
        height: 25%;
    }
    .container-right {
        width: 100%;
        height: 75%;
    }
    .content {
        padding: 0px;
        text-align: center;
    }
    h1{
        font-size: 30px;
    }
    h3 {
        font-size: 16px;
    }
   
}