.container {
    margin: auto;
  }
#project-title{
    margin-bottom: 50px;
}
  .pic{
      width: 80%;
      height: 100%;
      margin: auto;
      display: block;
      justify-content: center;
  
  }
  img{
      width: 50vw;
      margin-left: 70px;
  }
  .legend{
    margin-top: 10px;
    line-height: 1.4;
  }
  .slick-dots button{
      position: absolute;
      bottom: 40px;
      height: 30px !important;
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 50px !important;
    line-height: 1;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
  }
  @media(max-width: 600px){
   .container{
       width: auto;
       height: auto;
   }
    .slick-slide.slick-active.pic{
        width: 350px !important;
    }
    .slick-arrow.click-next::before{
        position: relative !important;
        left: 30px !important;
    }
    .slick-track{
        height: 100% !important;
    }
    .pic img{
        width: 80vw;
        margin: auto;
    }
    .slick-prev, .slick-next{
        font-size: 30px !important;
    }
    
}

