/* ******************* */
/* ProjectDetails.css */
/* ******************* */

.container {
    margin: auto;
    /* border: 1px solid blue; */
  }

.project-name h3{
    /* height: 8%; */
    width: 100%;
    font-size: 110%;
    font-weight: 700;
    margin: 35px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(56, 48, 48);
    /* border: 1px solid red; */
}
.project-name h4{
    text-decoration: none;
    padding: 0 0 10px 70px;
    margin: 20px 0 10px 0;
    line-height: 65%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    /* border: 1px solid blue; */
}
.project-name a {
    color: rgb(56, 48, 48);
}
.project-name a:hover{
    color: rgb(6, 6, 243);
    text-decoration: underline;
    font-weight: 700;
}
.pic{
    width: 80%;
    height: 100%;
    margin: auto;
    display: block;
    justify-content: center;
  }
.pic p{
    font-size: 85%;
}
.pic img{
    width: 50vw;
    margin-left: 70px;
  }
.legend{
    margin-top: 10px;
    line-height: 1.4;
  }
.slick-dots button{
    position: absolute;
    bottom: 40px;
    height: 30px !important;
  }

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 50px !important;
    line-height: 1;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
  }
/* ******************* */
/* ProjectDetails2.css */
/* ******************* */


.pic2 img {
    width: 35%;
    margin: auto;
}
.pic2 p{
    font-size: 85%;
}



/**************************************/
/* ********** MEDIA QUERY ************ */
@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 1024px){
    
    .pic img{
        margin: auto;
    }
    .pic p{
        width: 80%;
        margin-left: 100px;
        /* border: 1px solid red; */
    }
}
@media only screen and (max-width: 768px){
    .pic img{
        width: 100%;
        margin: auto;
    }
    .pic p{
        width: 80%;
        margin-left: 50px;
        /* border: 1px solid red; */
    }
}

@media(max-width: 600px){
   .container{
       width: 100%;
       /* height: auto; */
   }
   .project-name h3{
       font-size: 100%;
   }
    /* .slick-slide.slick-active.pic{
        width: 350px !important;
    }
    .slick-arrow.click-next::before{
        position: relative !important;
        left: 30px !important;
    }
    .slick-track{
        height: 100% !important;
    } */
    .pic{
        width: 100%;
    }
    .pic img{
        width: 100%;
        margin: auto;
    }
    .pic p{
        width: 80%;
        margin-left: 50px;
        /* border: 1px solid red; */
    }
    /* .slick-prev, .slick-next{
        font-size: 30px !important;
    } */
    
}
@media only screen and (max-width: 480px){
    .container{
        width: 100%;
        /* height: auto; */
    }
   
}

